*.msi
*.exe
*.cache
PrecisaFrozen.Win/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PrecisaFrozen.Win/obj/x86/Debug/PrecisaFrozen.Win.vbprojResolveAssemblyReference.cache
*.cache
*.rar
